<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SISDM</title>
    <div th:fragment="css">
        <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    </div>
    <div th:fragment="js">
        <script
                src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFIBw8HfCJo="
                crossorigin="anonymous"
        ></script>
        <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
    </div>
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg" style="background-color: #007bff;">
    <a class="navbar-brand font-weight-bold text-white"  href="/">SISDM</a>
    <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <a class="nav-item nav-link active text-white" th:href="@{/karyawan/viewall}">
                Karyawan<span class="sr-only">(current)</span>
            </a>
            <a class="nav-item nav-link active text-white" th:href="@{/presensi}">
                Presensi<span class="sr-only">(current)</span>
            </a>
            <a class="nav-item nav-link active text-white" th:href="@{/tambah-tugas}">
                Tugas<span class="sr-only">(current)</span>
            </a>
        </ul>

    </div>
</nav>

</body>
</html>