<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Demo HRIS</title>
<!--    <object th:include="fragments/fragment :: css" th:remove="tag"></object>-->
<!--    <object th:include="fragments/fragment :: js" th:remove="tag"></object>-->
    <div th:replace="fragments/fragment :: css"></div>
    <div th:replace="fragments/fragment :: js"></div>

</head>
<nav th:replace="fragments/fragment :: navbar"></nav>
<body>
<div class="d-flex justify-content-center">
    <div class="m-4">
        <div class="d-flex justify-content-center">
            <h2>Selamat datang di aplikasi demo HRIS</h2>
        </div>
        <div class="d-flex justify-content-center">
            <h3>Daftar Fitur : </h3>
        </div>
        <div class="d-flex justify-content-center">
            <a th:href="@{/karyawan/viewall}" class="mx-2 btn btn-primary">Karyawan</a>
            <a th:href="@{/presensi}" class="mx-2 btn btn-primary">Presensi</a>
            <a th:href="@{/tambah-tugas}" class="mx-2 btn btn-primary">Tambah Tugas</a>
            <a th:href="@{/}" class="mx-2 btn btn-primary">Filter</a>
        </div>
    </div>

</div>
</body>
</html>